# Configuración de Base de Datos
MYSQL_ROOT_PASSWORD=ingresa_un_password_seguro
MYSQL_DATABASE=negocio
MYSQL_USER=negocio
MYSQL_PASSWORD=ingresa_un_password_seguro

# Configuración del Backend
JWT_SECRET=ingresa_un_secreto_seguro_de_64_caracteres
APP_SECRET=ingresa_un_secreto_seguro_de_64_caracteres
